# Rust
target/
config.toml

# Flutter / Android Studio
android/.dart_tool/
android/build/
android/.packages
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/src/main/java/
android/local.properties
android/.idea/
android/*.iml
android/**/*.hprof
android/key.properties
android/gradle/gradle-daemon-jvm.properties
*.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
