# Rust
target/
config.toml

# Flutter / Android Studio
android/.dart_tool/
android/build/
android/.flutter-plugins
android/.flutter-plugins-dependencies
android/.packages
android/android/.gradle/
android/android/.kotlin/
android/android/build/
android/android/app/build/
android/android/app/src/main/java/
android/android/local.properties
android/.idea/
android/*.iml
android/**/*.hprof
android/android/key.properties
android/lib/debug_config.dart
*.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
